.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.all-products:hover {
  cursor: pointer;
  color: red;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #ffd700;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: green;
  color: floralwhite;
}

address {
  line-height: 1.6rem;
  font-size: 13px;
  font-weight: 600;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512da8;
  position: relative;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.fix {
  margin-left: 250px;
}
.welcome_area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 600px;
}
@media only screen and (max-width: 1479px) {
  .welcome_area {
    height: 450px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome_area {
    height: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome_area {
    height: 200px;
  }
}
@media only screen and (max-width: 640px) {
  .welcome_area {
    height: 180px;
  }
}
@media only screen and (max-width: 480px) {
  .welcome_area {
    height: 150px;
  }
}
.welcome_area .hero-content h6 {
  font-size: 18px;
  color: #787878;
  margin-bottom: 10px;
}
.welcome_area .hero-content h2 {
  font-size: 60px;
  color: #000000;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome_area .hero-content h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome_area .hero-content h2 {
    font-size: 30px;
  }
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Essence Button */
.essence-btn {
  display: inline-block;
  min-width: 170px;
  height: 50px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 40px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
  background-color: #0315ff;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.essence-btn:hover,
.essence-btn:focus {
  color: #ffffff;
  background-color: #dc0345;
}

.card-item-hover:hover {
  box-shadow: 1px 1px 2px 2px #afc0d3;
}
.card-price {
  color: red;
  font-weight: bold;
}
.card-price-old {
  margin-left: 20px;
  font-size: small;
  text-decoration: line-through;
}
.section-heading {
  margin-bottom: 20px;
  margin-top: 30px;
}
.section-title {
  color: #212529;
}
.last-item {
  margin-bottom: 80px;
}
.search {
  background-color: white;
  width: 350px;
  height: 40px;

  border-radius: 50px;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.search button {
  /* border: 2px solid #fdb921;
  border-radius: 0 50px 50px 0; */
  border: 0;
  background-color: white;
  position: relative;
  color: #888888;
  padding-left: 15px;
  border-left: 1.5px solid #f0f0f0 !important;
}
.search input {
  /* border: 2px solid #fdb921;
    border-radius: 50px 0 0 50px; */
  border: none;
  outline: none;
  font-size: 13px;
  color: #888888;
  flex: 1;
  /* padding-left: 15px;
                padding-right: 15px; */
}

.search button i {
  font-size: 16px;
  color: #333333;
}
.nav-search {
  /* margin-left:100px; */
}
.view-all-product {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 40px;
}
.view-all-product a:hover {
  color: black;
}

/* ================== PAGE DETAILS ==================  */
.gallery-wrap .img-big-wrap {
  margin-bottom: 10px;
  border-radius: 0.37rem;
  overflow: hidden;
  background-color: #fff;
}

.gallery-wrap .img-big-wrap a {
  text-align: center;
  display: block;
}

.gallery-wrap .img-big-wrap img {
  height: 450px;
  width: auto;
  display: inline-block;
  cursor: zoom-in;
}

.gallery-wrap .thumbs-wrap {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-wrap .thumbs-wrap .item-thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
}

.gallery-wrap .thumbs-wrap img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}

.gallery-wrap .thumbs-wrap img:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  cursor: zoom-in;
}

.item-option-select {
  margin-bottom: 1rem;
  display: inline-block;
  margin-right: 15px;
}

.item-option-select .btn {
  min-width: 80px;
}

/* ================= RATINGS ============== */
.label-rating {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}

/* rating-list */
.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars i {
  font-size: 14px;
  color: #ccc;
  display: inline;
}

.rating-stars img {
  height: 14px;
  max-width: none;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-stars li.stars-active i {
  color: orange;
}

.rating-stars.stars-lg img {
  height: 20px;
  max-width: none;
}

/* ok */
.price {
  font-weight: 600;
  color: #212529;
}

.price-oldl {
  color: #969696;
  margin-left: 3px;
}

.table-shopping-cart .itemside .info {
  padding: 0;
}

.table-shopping-cart .itemside .aside {
  display: none;
}

.itemside {
  position: relative;
  display: flex;
  width: 100%;
}

.itemside .aside {
  position: relative;
  flex-shrink: 0;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside p {
  margin-bottom: 0;
}

.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}

.itemside a.title:hover {
  color: #3167eb;
}

a.itemside {
  color: initial;
}

.items-bordered-wrap .itemside:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* i  images productitem */
/* a:hover {
  text-decoration: none;
} */
a {
  text-decoration: none;
}

.img-wrap {
  text-align: center;
  display: block;
}

.img-wrap img {
  max-width: 100%;
}

.icon-wrap {
  text-align: center;
  display: inline-block;
}

.price-wrap {
  letter-spacing: -0.7px;
}

.content-body {
  flex: 1 1 auto;
  padding: 2rem 2.3rem;
}

.section-title {
  color: #212529;
}

.log-modal:hover {
  cursor: pointer;
}
.hover-log:hover {
  cursor: pointer;
}

/* transition group */
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.navbar-expand-md .navbar-collapse {
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-left .logo img {
  max-width: 168px;
  display: block;
  margin-top: -2px;
}

.navbar-expand-md .navbar-nav {
  margin-left: 45px;
}

.navbar-expand-md .navbar-nav .nav-search {
  margin-left: 45px;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
  color: #f36;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-weight: 600;
  font-size: 17px;
}

.header-right .dropdown .btn-secondary {
  border: none;
}

.header-right .account .log-modal .fa,
.header-right .mini-cart .hover-log {
  font-size: 23px;
}

.header-right .mini-cart {
  margin-left: 20px;
}

.ant-spin-container .product-info .cart-items {
  display: block;
  padding: 20px;
}

.cart-items {
  height: auto;
}

.card-body .card.img-wrap {
  border: none;
  margin-top: 30px;
}

.page-wishlist .page-title {
  margin-bottom: 60px;
}

.page-wishlist .page-title h3 {
  margin-top: 105px;
  margin-bottom: 45px;
}
.page-search {
  margin-top: 105px;
  margin-bottom: 45px;
}

.page-wishlist .media-list li:not(:last-child) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.page-wishlist .media-list li .media-left {
  max-width: 150px;
}

.page-wishlist .media-list li .media-left img {
  max-width: 100%;
}

.page-wishlist {
  margin-bottom: 60px;
}
.link-footer {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
}

.link-footer a {
  color: #000000;
}
.footer-admin {
  width: 100%;
  background-color: white;
}

.link-footer a:hover {
  color: #f36;
}
/* scroll to top */
.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style {
  background-color: #ffd700;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation:movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.icon-style:hover {
  animation: none;
  background: #fff;
  color: #ffd700;
  border: 2px solid #ffd700;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
html {
  overflow-x: hidden;
}

* {
  min-width: 0;
  min-height: 0;
}
.footer-icon a {
  margin-right: 5px;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.page-product-detail {
  min-height: 700px;
  margin-top: 150px;
  margin-bottom: 40px;
}
.btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}
.cart-fix {
  max-width: 250px;
}

.ant-table-cell .cart-item-info,
.ant-table-cell .text-right {
  width: 50%;
}

.card-body .dlist-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ant-form-horizontal .ant-form-item-label {
  flex: 0 0 34.666667%;
  max-width: 34.666667%;
}
.page-cart {
  margin-top: 130px;
  margin-bottom: 50px;
}
.ant-spin-container .badge {
  position: absolute;
}

.btn-outline-secondary:first-child {
  margin-right: 5px;
}
.section-content .oder-item3 {
  display: flex;
  justify-content: flex-end;
}
.banner-top {
  margin-top: 60px;
}
@media only screen and (max-width: 1479px) {
  .page-wishlist .page-title h3 {
    margin-top: 150px;
  }
  .banner-top {
    margin-top: 110px;
  }
  .page-cart {
    margin-top: 170px;
  }
  .page-search {
    margin-top: 150px;
  }
  .navbar > .container {
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
  }

  .navbar-expand-md .navbar-collapse {
    flex: 0 0 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .header-right {
    position: absolute;
    top: 2px;
    right: 15px;
  }

  .navbar-expand-md .navbar-nav {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .gallery-wrap .img-big-wrap img {
    height: 310px;
  }
  .banner-top {
    margin-top: 160px;
  }
  /* order */
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    flex-wrap: wrap;
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar-animated,
  .ant-tabs-top > .ant-tabs-nav:before {
    display: none;
  }
  /* order */

  .listview-fix {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .page-wishlist .page-title h3 {
    margin-top: 200px;
  }
  .page-cart {
    margin-top: 215px;
  }
  .page-search {
    margin-top: 215px;
  }
  .page-product-detail {
    margin-top: 227px;
  }
  .navbar-nav {
    justify-content: center;
  }

  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap;
  }

  .navbar-expand-md .navbar-nav .nav-search {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .gallery-wrap .img-big-wrap img {
    height: 450px;
  }
  .banner-top {
    margin-top: 58px;
  }
  .ant-table-tbody .cart-fix {
    width: 100%;
    display: block;
    flex-grow: unset;
    flex-basis: 100%;
  }
  .ant-table-tbody .cart-fix ~ .row {
    flex: unset;
  }
  .cart-fix > .row {
    flex: unset;
  }
  .btn-listview {
    margin-bottom: 20px;
  }

  .listview-fix {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .list-view-fix {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ant-btn.ant-btn-round {
    margin-bottom: 15px;
  }
  .page-wishlist .page-title h3 {
    margin-top: 105px;
  }
  .page-cart {
    margin-top: 130px;
  }
  .page-search {
    margin-top: 130px;
  }
  .cart-footer-button:nth-child(2) {
    margin-bottom: 15px;
  }

  .ant-table-cell > figure {
    align-items: center;
  }

  .cart-fix {
    max-width: none;
    flex: none;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  .toggle-menu-mobile {
  }

  .navbar-expand-md .logo {
    margin-left: 15px;
  }

  .navbar > .container {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 640px) {
  .banner-top {
    margin-top: 50px;
  }
  .navbar-expand-md .logo img {
    max-width: 148px;
  }
}
@media only screen and (max-width: 575px) {
  .ant-spin-container .badge {
    position: relative;
  }
  .oder-item1,
  .oder-item2,
  .oder-item3 {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 515px) {
  .gallery-wrap .img-big-wrap img {
    height: 310px;
  }
}

@media only screen and (max-width: 480px) {
  /* order */
  .ant-tabs-tab + .ant-tabs-tab {
    width: 100%;
    margin-left: 0;
  }
  /* order */

  .oder-item1,
  .oder-item2 {
    width: 50%;
  }
  .oder-item3 {
    width: 100%;
  }
  .section-content .oder-item3 {
    justify-content: center;
    margin-top: 15px;
  }
  .ant-table-cell > figure {
    flex-wrap: wrap;
  }

  .ant-table-cell > figure > div + div {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .header-right .dropdown .btn-secondary {
    font-size: 0;
    background-color: transparent !important;
    padding-right: 0;
  }

  .header-right .dropdown .btn-secondary .fa {
    font-size: 25px;
  }

  .btn.dropdown-toggle:focus {
    box-shadow: none !important;
  }

  .dropdown-menu.show {
    top: 8px !important;
    left: -35px !important;
  }

  .search {
    width: 330px;
  }
}
@media only screen and (max-width: 375px) {
  .gallery-wrap .img-big-wrap img {
    height: 275px;
  }
}
@media only screen and (max-width: 330px) {
  .gallery-wrap .img-big-wrap img {
    height: 260px;
  }
}
